# Database
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"

# App & Client URLs
FRONTEND_URL="http://localhost:5173"

# JWT Auth
JWT_ACCESS_SECRET="your-super-secret-access-key"
JWT_ACCESS_TEMP_EXPIRES="5m"
JWT_ACCESS_EXPIRES="15m"

JWT_REFRESH_SECRET="your-super-secret-refresh-key"
JWT_REFRESH_EXPIRES="7d"

JWT_RECOVERY_SECRET="your-super-secret-recovery-key"

# OAuth Google
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"

# OAuth GitHub
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"
GITHUB_CALLBACK_URL="http://localhost:3000/auth/github/callback"

# Stripe Payments
STRIPE_SECRET_KEY="sk_test_your_stripe_secret_key"
STRIPE_PRO_PRICE_ID="price_pro_plan_id"
STRIPE_ENTERPRISE_PRICE_ID="price_enterprise_plan_id"
STRIPE_WEBHOOK_SECRET="whsec_your_stripe_webhook_secret"

# Mail SMTP Server (Mailtrap / Production)
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT="2525"
MAIL_USER="your-smtp-username"
MAIL_PASSWORD="your-smtp-password"
MAIL_FROM="noreply@example.com"